<footer >         
    <ul class="networks">
        <li class="facebook">
            <a href="https://www.facebook.com/CasaVeggie">
                <span>Facebook</span>
            </a>
        </li>
        <li class="twitter">
            <a href="https://twitter.com/HazteVegetarian">
                <span>Twitter</span>
            </a>
        </li>
        <li class="mail">
            <a href="mailto:{{ site.email }}">
                <span>Email</span>
            </a>
        </li>
    </ul>
</footer>
